# Ignore all files in uploads directory
uploads/
.env
vendor/
db/
resources/Swim Run Réunion - La Longue.csv
resources/Swim Run Réunion - La Courte.csv
adminer.php
/.ovhconfig.local
resources/team.csv
