<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Bonjour %prenom1% et %prenom2%,</h1>

    <p>
        Les modifications que vous avez effectué sur la plateforme SwimRun Réunion n'ont pas été validées pour la (les) raison(s) suivante(s) :
    </p>
    <p>%motif%</p>
    <br>
    <p>
        Nous vous invitons à vous reconnecter sur la plateforme :
        <a href="#">SwimRun Réunion</a>
        afin de corriger les informations erronées.
    </p>
    <p>Pour rappel, vos identifiants sont :</p>
    <ul>
        <li>Nom de l'équipe : <b>%team%</b></li>
        <li>Mot de passe : <b>%code_invite%</b></li>
    </ul>

    <br>
    <p>Nous vous remercions pour votre confiance.</p>
    <p>Cordialement.</p>
    <p>L'Equipe SwimRun Réunion.</p>
</body>

</html>