<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Bonjour %prenom1% et %prenom2%,</h1>

    <p>
        Nous vous informons que les modifications que vous avez effectué sur la plateforme SwimRun Réunion ont été
        validées.
    </p>

    <br>
    <p>Nous vous remercions pour votre confiance.</p>
    <p>Cordialement.</p>
    <p>L'Equipe SwimRun Réunion.</p>
</body>

</html>