* {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

th, td {
    font-size: .7rem;
    padding: 0;
}

tr.odd:nth-child(1)>td {
    padding: 0 0 0 0 !important;
}

th {
    padding: 0px 20px;
}

.navbar {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

button[name='deconnexion'] {
    padding: .375rem .75rem !important;
}