* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #242424;
}

.main-page {
    background-image: url('../../resources/img/sponsors_gray_background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}

.btn {
    color: #fff;
    background-color: #ff1744 !important;
    border-color: #ff1744 !important;
    transition: ease-in-out 0.3s !important;
}

.btn:focus, .btn:active:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 23, 68, .5);
}

.btn:hover {
    color: #fff;
    background-color: #242424 !important;
    border-color: #242424 !important;
}

.card-header, .modal-header, .modal-header h5, .alert-danger, .alert-danger span {
    background-color: #ff1744 !important;
    color: #fff !important;
}

.badge {
    background-color: #ff1744 !important;
    transition: ease-in-out 0.3s !important;
}

.btn:hover>.badge {
    background-color: #ff1744 !important;
}

#btn_deco_admin:hover {
    border-color: #fff !important;
}

footer, nav {
    background-color: #242424;
}

footer div {
    color: #fff;
}

.fa-github {
    color: #fff;
    font-size: 2rem;
}

.divider {
    background: transparent url('../../resources/img/divider_dark.png');
    height: 6px;
    width: 82px;
    margin-bottom: 2rem;
}

.shape1 {
    background: transparent url('../../resources/img/element_01.png') no-repeat center center;
}

b {
    font-weight: 800;
}

h3, h3 b, h3 span {
    color: #ff1744;
}

h3 span {
    font-size: medium;
}

.form-check-input:focus {
    border-color: #ff1744;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255, 23, 68, .5);
}

.form-check-input:checked {
    background-color: #ff1744 !important;
    border-color: #ff1744 !important;
}

td input {
    border: none !important;
}

footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    margin-top: 3rem;
}